<app-header></app-header>

<div class="maindiv">
  <div class="emplist">
    <div class="textallemp">All employees</div>
    <div class="btn-add" (click)="openDialog()">
      <span class="textadd">Add</span>
    </div>
    <input
      class="search"
      placeholder="Search"
      type="text"
      name="employeeName"
      [(ngModel)]="employeeName"
      (ngModelChange)="handleChange($event)"
    />
    <div class="employeeslist">
      <div
        class="employeediv"
        *ngFor="let emp of filterlist"
        (click)="onClickEmployee(emp)"
        [ngStyle]="{
          'background-color':
            emp?.name === employeeData?.name ? '#dbdef7' : 'transparent'
        }"
      >
        <span class="textemp"> {{ emp?.name }}</span>
      </div>
    </div>
  </div>
  <div class="empdetails">
    <app-employeedetails
      [employeeData]="employeeData"
      [employeeProjectList]="employeeProjectList"
    ></app-employeedetails>
  </div>
</div>
<div *ngIf="showModel">
  <app-addemployeemodel
    [showModel]="showModel"
    (close)="closeDialog($event)"
    (save)="updateemployeeData($event)"
  ></app-addemployeemodel>
</div>
