<app-header></app-header>

<div class="maindiv">
  <div class="emplist">
    <div class="textallemp">All employees</div>
    <div class="btn-add" (click)="showModel = true">
      <span class="textadd">Add</span>
    </div>
    <input
      class="search"
      placeholder="Search"
      type="text"
      name="employeeName"
      [(ngModel)]="employeeName"
      (ngModelChange)="handleChange($event)"
    />
    <div class="employeeslist">
      <div
        class="employeediv"
        *ngFor="let emp of filterlist"
        (click)="employeeData = emp"
      >
        <span class="textemp"> {{ emp.name }}</span>
      </div>
    </div>
  </div>
  <div class="empdetails">
    <div class="empinfo">
      <div class="singledetail">
        <div class="label">Name:</div>
        <div class="value">{{ employeeData?.name }}</div>
      </div>
      <div class="singledetail">
        <div class="label">Designation:</div>
        <div class="value">{{ employeeData?.designation }}</div>
      </div>
      <div class="singledetail">
        <div class="label">Joining date:</div>
        <div class="value">{{ employeeData?.joiningDate }}</div>
      </div>
      <div class="singledetail">
        <div class="label">Tecnologies:</div>
        <div class="value">{{ employeeData?.technologies }}</div>
      </div>
      <div class="singledetail">
        <div class="label">Active projects:</div>
        <div class="value">{{ employeeData?.name }}</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModel" class="model">
  <div class="addcomponent">
    <div class="header">
      <div class="txtnewemp">New Employee</div>
      <img
        src="../../../assets/images/close_icon_grey_mdpi.png"
        alt="icon_close"
        class="icon_close"
        (click)="showModel = false"
      />
    </div>
    <div>
      <form
        [formGroup]="addNewEmployee"
        (ngSubmit)="onSubmit()"
        class="addempfrom"
      >
        <label for="name" class="textlabel">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="inputfield"
        />
        <label for="designationId" class="textlabel">Designation</label>
        <select
          id="designationId"
          formControlName="designationId"
          class="selectfield"
        >
          <option *ngFor="let x of designations" [value]="x.id">
            {{ x.name }}
          </option>
        </select>

        <label for="joiningDate" class="textlabel">Joining Date</label>
        <input
          type="date"
          id="joiningDate"
          formControlName="joiningDate"
          class="inputfield"
        />
        <label for="technologies" class="textlabel">Technologies</label>
        <input
          type="text"
          id="technologies"
          formControlName="technologies"
          class="inputfieldarea"
          multiple="true"
        />
        <span
          *ngIf="!addNewEmployee.valid && addNewEmployee.touched"
          class="error-text"
          >Please enter valid data!</span
        >
        <div class="buttons">
          <div class="btn-cancle" (click)="showModel = false">
            <span class="textbtn">Cancle</span>
          </div>
          <button
            class="btn-save"
            type="submit"
            [disabled]="!addNewEmployee.valid"
          >
            <span class="textbtn">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
