<app-header></app-header>

<div class="maindiv">
  <div class="projlist">
    <div class="textallprj">All Projects</div>
    <div class="btn-add" (click)="showModel = true">
      <span class="textadd">Add</span>
    </div>
    <input
      class="search"
      placeholder="Search"
      type="text"
      name=" projectName"
      [(ngModel)]="projectName"
      (ngModelChange)="handleChange($event)"
    />
    <div class="projectslist">
      <div class="projectdiv" *ngFor="let i of projectlist">
        <span class="textprj">Project {{ i }}</span>
        <span class="textstatus">Yet to Start</span>
      </div>
    </div>
  </div>
  <div class="empdetails">
    <div class="empinfo">
      <div class="singledetail">
        <div class="label">Name:</div>
        <div class="value">Project1</div>
      </div>
      <div class="singledetail">
        <div class="label">Status:</div>
        <div class="value">In progress</div>
        <div class="btnclose"><span class="textadd">Close</span></div>
      </div>
      <div class="singledetail">
        <div class="label">Joining date:</div>
        <div class="value">12/11/22</div>
      </div>
      <div class="singledetail">
        <div class="label">Tecnologies:</div>
        <div class="value">Angular, ReactJs, NodeJs</div>
      </div>
      <div class="singledetail">
        <div class="label">Developers:</div>
        <div class="value">Project1, Project2</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModel" class="model">
  <div class="addcomponent">
    <div class="header">
      <div class="txtnewemp">New Project</div>
      <img
        src="../../../assets/images/close_icon_grey_mdpi.png"
        alt="icon_close"
        class="icon_close"
        (click)="showModel = false"
      />
    </div>
    <div>
      <form
        [formGroup]="addNewProject"
        (ngSubmit)="onSubmit()"
        class="addempfrom"
      >
        <label for="name" class="textlabel">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="inputfield"
        />
        <label for="technologies" class="textlabel">Technologies</label>
        <input
          type="text"
          id="technologies"
          formControlName="technologies"
          class="inputfield"
          multiple="true"
        />
        <!-- <label for="designation" class="textlabel">Designation</label> -->
        <!-- <input
          type="text"
          id="designation"
          formControlName="designation"
          class="inputfield"
        /> -->
        <!-- <select
          id="designation"
          formControlName="designation"
          class="selectfield"
        >
          <option *ngFor="let x of deg" [value]="x">{{ x }}</option>
        </select> -->

        <label for="startDate" class="textlabel">Start Date</label>
        <input
          type="date"
          id="startDate"
          formControlName="startDate"
          class="inputfield"
        />
        <label for="employees" class="textlabel">Employees</label>
        <input
          type="text"
          id="employees"
          formControlName="employees"
          class="inputfieldarea"
          multiple="true"
        />
        <span
          *ngIf="!addNewProject.valid && addNewProject.touched"
          class="error-text"
          >Please enter valid data!</span
        >
        <div class="buttons">
          <div class="btn-cancle" (click)="showModel = false">
            <span class="textbtn">Cancle</span>
          </div>
          <button
            class="btn-save"
            type="submit"
            [disabled]="!addNewProject.valid"
          >
            <span class="textbtn">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
