<app-header></app-header>

<div class="maindiv">
  <div class="projlist">
    <div class="textallprj">All Projects</div>
    <div class="btn-add" (click)="openDialog()">
      <span class="textadd">Add</span>
    </div>
    <input
      class="search"
      placeholder="Search"
      type="text"
      name=" projectName"
      [(ngModel)]="projectName"
      (ngModelChange)="handleChange($event)"
    />
    <div class="projectslist">
      <div
        class="projectdiv"
        *ngFor="let proj of filterlist"
        (click)="projectData = proj"
        [ngStyle]="{
          'background-color':
            proj?.name === projectData?.name ? '#dbdef7' : 'transparent'
        }"
      >
        <span class="textprj"> {{ proj?.name }}</span>
        <span class="textstatus" *ngIf="proj?.status === 'New'"
          >Yet to start</span
        >
        <span class="textstatus" *ngIf="proj?.status === 'In Progress'"
          >In progress</span
        >
        <span class="textstatus" *ngIf="proj?.status === 'Closed'">Closed</span>
      </div>
    </div>
  </div>
  <div class="empdetails">
    <app-projectdetails
      [projectData]="projectData"
      (update)="updateStatusProjectList()"
    ></app-projectdetails>
  </div>
</div>
<div *ngIf="showModel">
  <app-addprojectmodel
    [showModel]="showModel"
    (close)="closeDialog($event)"
    (save)="updateProjectData($event)"
  ></app-addprojectmodel>
</div>
